.glyphicon-question-sign {
  cursor: help;
}

.tooltip-ayuda {
  position: absolute;
  display: none;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  border: 2px dimgray solid; 
  border-radius: 6px;
  padding: 6px;
  width: auto;
  z-index: 999;
  text-align: left;
  width: 540px;
  max-height: 75vh;
  overflow-y: scroll;
  right: 0;
  top: 36px;
}

.tooltip-ayuda.activo {
  display: block;
}

.tooltip-ayuda .ayuda {
  padding: 4px;
  list-style-type: decimal;
  margin-left: 20px;
}

.tooltip-ayuda .ayuda li {
  margin-bottom: 6px;
}

.tooltip-ayuda .ayuda:after {
  right: 58px;
  top: -12px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: rgba(0, 0, 0, 0.6);
  border-width: 10px;
  margin-top: -10px;
}