.animate {
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
}

.action-button {
	position: relative;
	padding: 10px 40px;
    margin: 0px 10px 10px 0px;
    float: left;
	border-radius: 10px;
	font-size: 20px;
	color: #FFF;
	text-decoration: none;	
	background-color: #25A24C;
	border-bottom: 5px solid #218D43;
	text-shadow: 0px -2px #15602C;
}

.action-button:active {
  transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
  border-bottom: 1px solid;
}