.tooltip-sugerencias {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  border: 2px dimgray solid; 
  border-radius: 6px;
  padding: 6px;
  width: auto;
}

.tooltip-sugerencias p {
  padding: 4px;
}

.tooltip-sugerencias p:hover {
  background-color: white;
  border-radius: 2px;
  color: dimgray;
}

.tooltip-sugerencias:after {
  right: 50%;
  top: -12px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: rgba(0, 0, 0, 0.6);
  border-width: 10px;
  margin-top: -10px;
}