.tabla-resumen-facturacion {
  width: 100%;
}

.tabla-resumen-facturacion tr th {
  font-size: 16px;
  background-color: #3C3C3B;
  color: white;
  font-weight: bold;
  text-align: center;
}

.tabla-resumen-facturacion tr td, .tabla-resumen-facturacion tr th {
  border: 2px solid #3C3C3B;
  padding: 7px;
}

.tabla-resumen-facturacion tr:last-child td {
  font-size: 16px;
  background-color: rgba(220,170,4, 0.2);
  font-weight: bold;
}