<template name="modalConfirmarEstadoCotizacion">
  <div class="modal fade" id="modal-confirmar-estado-cotizacion" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4>Confirmación <small>Cambio de estado</small></h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-xs-12">
              <span>Seguro desea cambiar al estado</span>
              <h2>{{params.categoria.glosa}}</h2>
              <span>SIGNIFICA: {{params.categoria.descripcion}}</span>
            </div>
          </div>
          {{#if esRechazada}}
          <div class="row">
            <div class="col-xs-12">
              <label>Razón del rechazo</label>
              <div class="form-group">
                <textarea id="textarea-rechazo" class="form-control" rows="3" value="{{params.rechazo}}"></textarea>
              </div>              
            </div>
          </div>
          {{/if}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" id="btn-confirm">
            <span class="glyphicon glyphicon-ok"></span>
            Si
          </button>
          <button type="button" class="btn btn-danger" id="btn-cancel">
            <span class="glyphicon glyphicon-remove"></span>
            No
          </button>
        </div>
      </div>
    </div>
  </div>
</template>