<template name="modalconfirmareliminaciontarea">
  <div class="modal fade out" id="modalconfirmareliminaciontarea" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3>Confirmación de eliminación</h3>
        </div>
        <div class="modal-body">
          <div class="row">            
            <div class="col-xs-12">
              <span>¿Seguro desea eliminar la tarea nº 1?</span>
            </div>
          </div>          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" id="btn-confirm">
            <span class="glyphicon glyphicon-ok"></span>
            Si
          </button>
          <button type="button" class="btn btn-danger" id="btn-cancel">
            <span class="glyphicon glyphicon-remove"></span>
            No
          </button>
        </div>
      </div>
    </div>
  </div>
</template>