#main-nav-tabs li {
    text-align: center;
}

.panel-ots .glyphicon-user {
    font-size: 25px;
    border-radius: 50%;
    background-color: #3A6F81;
    padding: 14px;
    margin: 8px 10px;
    color: whitesmoke;
}

.panel-ots .avatar h3 {
    margin-top: 10px;
}

.panel-ots .avatar {
    display: flex;
}

.panel-ots .encabezado-ot-tareas {
    background-color: #2D3E50;
    text-align: center;
    padding: 10px;
    border-radius: 8px 8px 0px 0px;
    margin-bottom: 0px;
    color: white;
}

.contenedor-info-ot {
    text-align: center;
    margin-bottom: 6px;
    border-radius: 8px 8px 8px 8px;
    background-color: white;
    border: 2px solid #2D3E50;
}

.contenedor-info-ot .folio {
    background-color: #2D3E50;
    text-align: center;
    color: #ECF0F1; 
    padding: 6px 2px 1px 2px;
}

.contenedor-info-ot .resumen {
    width: 100%;
    text-align: left;
    margin-top: 10px;
    display: flex;
}

.contenedor-info-ot .resumen .glyphicon {
    height: 53px;
}

.contenedor-info-ot .resumen .datos {
    width: 100%;
}

.contenedor-info-ot .resumen #select-trabajador {
    margin-top: 6px;
    font-size: 20px;
    height: 46px;
}

.contenedor-info-ot .estadisticas {
    width: 280px;
    text-align: center;
    padding: 6px;
}

.contenedor-info-ot .estadisticas .numeros {
    font-family: "Buildings";
    font-size: 42px;
    font-weight: bolder;
}

.contenedor-ot-tareas {
    border: 2px solid #2D3E50;
    border-radius: 0px 0px 8px 8px;
}

.contenedor-ot-tareas .vacio {
    text-align: center;
    width: 100%;
    padding: 18px 0px;
}

.contenedor-ot-tareas .item {
    background-color: #ECF0F1;    
    margin: 2px;
    position: relative;
}

.contenedor-ot-tareas .item .etiqueta {
    position: absolute;
    top: 4px;
    right: 4px;
    background-color: forestgreen;
    color: white;
    border-radius: 4px;
    padding: 4px 8px;
}

.contenedor-ot-tareas .item:nth-child(odd) {
    background-color: #BEC3C7;    
}

.contenedor-ot-tareas .check-listo {
    width: 32px;
    padding: 8px;
}

.contenedor-ot-tareas .check-listo .form-control {
    width: 32px !important;
}

.contenedor-ot-tareas .contenido-item {
    display: flex;
}

.contenedor-ot-tareas .descripcion-item {
    padding: 10px 10px 10px 20px;
}

.contenedor-ot-tareas .item .botonera {
    width: 100%;
    text-align: right;
    margin-top: 0px;
    padding-right: 12px;
}

.contenedor-ot-tareas .item .boton-simple,
.contenedor-info-ot .boton-simple {
    border-radius: 50%;
    padding: 10px;
    border: 3px solid black;
    color: black;
    margin: 0px 6px 12px 6px;
    -webkit-box-shadow: 2px 3px 16px 5px rgba(0,0,0,0.37); 
    box-shadow: 2px 3px 16px 5px rgba(0,0,0,0.37);
    font-size: 20px;
    height: 46px;
    transition: all 0.2s ease;
    cursor: pointer;
}

.contenedor-ot-tareas .item .boton-simple:hover,
.contenedor-info-ot .boton-simple:hover {
    top: -1px;
    left: -1px;
    box-shadow: 2px 3px 5px 4px rgba(0,0,0,0.37);
}

.descripcion-item .espacio-fechas {
    width: 40px;
    text-align: center;
    margin-top: 6px;
}