<template name="mantencion">
  <div class="page lists-show">
    {{>topNav}}
    <div class="content-scrollable">
      <!--div class="col-xs-12" style="margin-bottom: 4px;">
        <button id="btn-eliminar" class="btn btn-info">Eliminar</button>
      </div-->
      <!--div class="col-xs-12" style="margin-bottom: 4px;">
        <button id="btn-go-cargar" class="btn btn-success">Load BU_Data</button>
      </div-->
      <div class="col-xs-12" style="margin-bottom: 4px;">
        <input class="fileInput" type="file">
      </div>
    </div>
  </div>
</template>