<template name="modalSetPassword">
  <div class="modal fade" id="modal-set-password" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4>Set password</h4>
        </div>
        <div class="modal-body">
          {{#if esAdmin}}
          <div class="row">
            <div class="col-xs-12">
              <span>Password</span>
              <div class="form-group">
                <input type="secret" id="usuario-password" class="form-control">
              </div>
            </div>
            <div class="col-xs-12">
              <span>Re-Password</span>
              <div class="form-group">
                <input type="secret" id="usuario-password" class="form-control">
              </div>
            </div>
            <div class="col-xs-12">
              <div class="alert alert-info" role="alert">Ambos campos deben coincidir</div>
            </div>
          </div>
          {{else}}
          <div class="row">
            <div class="col-xs-12">
              <span><strong>¿Seguro desea enviar mail?</strong></span>
            </div>
          </div>
          {{/if}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">
            <span class="glyphicon glyphicon-remove"></span>
            No
          </button>
          <button type="button" class="btn btn-success" id="btn-confirm">
            <span class="glyphicon glyphicon-ok"></span>
            Sí
          </button>
        </div>
      </div>
    </div>
  </div>
</template>